/*
Colorblind safe color palette from colorbrewer2.org.
#fef0d9 - light yellow
#fdcc8a - yellow
#fc8d59 - orange
#e34a33 - red
#b30000 - darker red
*/
body {
  background-color: #b30000;
  color: #e34a33;
  text-align: center;
}

h1 {
  color: #fc8d59;
}
